extends layout

block styles
	if env == "development"|| env == "production"
		link(rel="stylesheet", href="/css/comment.css")
	else if env == "local"
		link(rel="stylesheet/less", href="/css/comment.less")
		script(src="/js/libs/less-1.1.5.min.js")	

block append header
	#back Back

block overlay
	#info 
		span loading
		#loading

block main
	#main.clearfix
		#comments
			if comments.length > 0
				each comment in img.comments
					.cline.clearfix
						img.pimage(src="https://graph.facebook.com/#{ comment.uid }/picture?type=square")
						a.comment-uname(href="/profile/#{ comment.uid }")=comment.uname
						span.comment #{comment.comment}
						p.timestamp= comment.posttime
			else
				a no comments!
		#ibox
			input#cinput(autofocus)
			#sendbtn Send                                
	input#hidden_imgid(type="hidden",value="#{img._id}")

block scripts
	script(type='text/javascript')
		var imghost = '#{ imghost }';

	if env == "development"|| env == "production"
		script(type='text/javascript', src="/js/libs/zub.js")
		script(type='text/javascript', src="/js/scripts/comment.js")
	else if env == "local"
		script(type='text/javascript', src="/js/libs/zepto.js")
		script(type='text/javascript', src="/js/libs/underscore.js")
		script(type='text/javascript', src="/js/libs/backbone.js")
		script(type='text/javascript', src="/js/scripts/comment.js")
