extends layout

block styles
	if env == "development"|| env == "production"
		link(rel="stylesheet", href="/css/follow.css")
	else if env == "local"
		link(rel="stylesheet/less", href="/css/follow.less")
		script(src="/js/libs/less-1.1.5.min.js")	

block append header
	#back back

block overlay
	#info 
		span loading
		#loading

block main
	#main.clearfix
		#userlist
			if userArray.length > 0
				each fuser in userArray
					.uline.clearfix(data-uid="#{fuser.id}")
						img.uimage(data-uid="#{fuser.id}", src="https://graph.facebook.com/#{ fuser.id }/picture?type=square")
						.name
							a.username(data-uid="#{fuser.id}", href="/profile/#{fuser.id}") #{fuser.username}
							.displayname #{fuser.name}
						if fuser.canFollow
							.follow-btn(data-uid="#{fuser.id}") Follow
						else if fuser.canUnFollow
							.unfollow-btn(data-uid="#{fuser.id}") UnFollow
			else
				div not found!


	footer
	input#profile_id(type="hidden",value="#{other.id}")
block scripts
	script(type='text/javascript')

	if env == "development"|| env == "production"
		script(type='text/javascript', src="/js/libs/zepto.js")
		script(type='text/javascript', src="/js/scripts/follow.js")
	else if env == "local"
		script(type='text/javascript', src="/js/libs/zepto.js")
		script(type='text/javascript', src="/js/scripts/follow.js")
