extends layout

block overlay
	#info 
		span loading
		.overlayicon#loading

block styles
	if env == "development"|| env == "production"
		link(rel="stylesheet", href="/css/profile-new.css")
	else if env == "local"
		link(rel="stylesheet/less", href="/css/profile-new.less")
		script(src="/js/libs/less-1.1.5.min.js")	

block append header
		#home home
		#follow follow

	if user != "guest"
		img#avatar(src="https://graph.facebook.com/#{ user.id }/picture?type=square")

block main
	#main
		#profile-header
			img#pimage(src="https://graph.facebook.com/#{ other.id }/picture?type=square")
			#name-container #{other.name}
		div.clearfix(style="padding: 5px 10px;)
			div.metacontainer
				table
					tr                        
						td#img-count.profile-number #{images.length}
						td#follower-count.profile-number #{other.followers.length} 
						td#following-count.profile-number #{other.followings.length}
			#action-bar
				span#show-grid-action.action-item.actived-action
				span#show-list-action.action-item
		#image-grid
			#images
				if images.length > 0
					each image in images
						div.img-wrapper
							div.img-item 
								img.gridimage(src="#{ imghost }#{ image.name }",onClick="imgClick('/image/#{image._id}')")
				else
					#{other.name} has no drawings now!
		#image-list
			#images
				if images.length > 0
					each img in images
						.list-img-item
							#meta
								a(href="/profile/#{ img.uid }")
									img#uimage(src="https://graph.facebook.com/#{ img.uid }/picture?type=square")
								a#uname= img.uname
								a.timestamp= img.posttime
							#image
								img(src='#{ imghost }#{ img.name }')
							#info
								.row#likes
									.icon
									.text <span id='likescount'>#{ img.likes.length }</span> likes
								.row#comments
									.icon
									.text 
										.cline
											img.pimage(src="https://graph.facebook.com/#{ img.uid }/picture?type=square")
											a.comment-uname(href="/profile/#{img.uid}")= img.uname
											span.comment=img.caption
										.comment-viewall
											a(href="/comments/#{img._id}") view all #{ img.comments.length } comments
										each comment in img.comments
											.cline
												img.pimage(src="https://graph.facebook.com/#{ comment.uid }/picture?type=square")
												a.comment-uname(href="/profile/#{ comment.uid }")=comment.uname
												span.comment #{comment.comment}
							#buttons
								if user == "guest"
									.button#share(data-imgid="#{img._id}")
										.btimage
								else 
									if img.likes.length>0
										#like.button.liked(data-imgid="#{img._id}")
											.btimage
									else
										#like.button(data-imgid="#{img._id}")
											.btimage
									#comment.button(data-imgid="#{img._id}") 
										.btimage
									#share.button(data-imgid="#{img._id}")
										.btimage
								div(style="clear:both")
				else
					#{other.name} has no drawings now!

	footer
	input#follower_id(type="hidden",value="#{other.id}")
block scripts
	script(type='text/javascript', src="/js/libs/zepto.js")
	script(type='text/javascript', src="/js/scripts/profile.js")
