extends layout

block overlay
	#info 
		span loading
		.overlayicon#loading

block styles
	if env == "development"|| env == "production"
		link(rel="stylesheet", href="/css/image.css")
		link(rel="stylesheet", href="/css/profile.css")
	else if env == "local"
		link(rel="stylesheet/less", href="/css/image.less")
		link(rel="stylesheet/less", href="/css/profile-new.less")
		script(src="/js/libs/less-1.1.5.min.js")	

block append header
		#home home
		#follow follow

	if user != "guest"
		img#avatar(src="https://graph.facebook.com/#{ user.id }/picture?type=square")

block main
	#main
		#meta
			
			img#pimage(src="https://graph.facebook.com/#{ other.id }/picture?type=square")
			.meta-container
				.subcontainer
					.statistic
						.profile-number #{images.length}
						.profile-type doodles
					.statistic
						if other.followers
							.profile-number #{other.followers.length} 
						else
							.profile-number 0
						.profile-type followers
					.statistic
						if other.following
							.profile-number #{other.followings.length}
						else
							.profile-number 0
						.profile-type following
				.edit-btn.phone-style-btn
					|Edit Your Profile
			.namecontainner
				a#pname= other.name
		#action-bar
			#show-grid-action.action-item.action-item-small.actived-action
				img(src="/img/music.png")
			#show-list-action.action-item.action-item-small
				img(src="/img/pan.png")
			.action-item.action-item-lastone.phone-style-btn
				img(src="/img/map-marker.png")
				|&nbsp;Photo map&nbsp
		#image-grid
			#images
				if images.length > 0
					each image in images
						div.img-item 
							img.gridimage(src="#{ imghost }#{ image.name }",onClick="imgClick('/image/#{image._id}')")
				else
					#{other.name} has no drawings now!
		#image-list
			#images
				if images.length > 0
					each image in images
						div.img-list-item
							a.img-link(href='/image/#{ image._id }')
								img(src="#{ imghost }#{ image.name }")
				else
					#{other.name} has no drawings now!

	footer
	input#follower_id(type="hidden",value="#{other.id}")
block scripts
	script(type='text/javascript', src="/js/libs/zepto.js")
	script(type='text/javascript', src="/js/scripts/image.js")
	script(type='text/javascript', src="/js/scripts/profile.js")
